<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638598968991-43jk7j9hu3q0mubot69lfq00v39dhdoq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638598968991-43jk7j9hu3q0mubot69lfq00v39dhdoq</string>
	<key>API_KEY</key>
	<string>AIzaSyCzykk6s6oc8VDGFgrv7KhAF7zoRA_lv6U</string>
	<key>GCM_SENDER_ID</key>
	<string>638598968991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.personal.Dmitry.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-8f492</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-8f492.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638598968991:ios:4a947a38d59037253514aa</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-8f492.firebaseio.com</string>
</dict>
</plist>